.controller.gc {
    background: url(https://raw.githubusercontent.com/Maltaran/gamepadviewer-gc-black/b8d0e9500d4167531c3cd15ec9e816a6f8f5d3a3/base.svg) no-repeat;
    height: 837px;
    width: 978px;
}
